<!DOCTYPE html>
<html>
<head>
  <title>CommentCloudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
</head>
<body>
  <div class='bg'></div>
  <div class='fg topdiv'></div>
  <div class='fg bottomdiv'></div>
  <header><h1>CommentCloud</h1></header>
  <div id='container'>
    
    <nav id='embedder'><div id='track'></div>
      <li><h1 class='back'><<</h1></li>
      <li><h1 class='start'>></h1></li>
      <li><h1 class='next'>>></h1></li>
    </nav>
    <div id='comments'>
      <section id='section'></section>
    </div>
  </div>
</body>
</html>
